/* line 7, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
* {
  box-sizing: border-box; }

/* line 11, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
html, body, .container {
  height: 100%; }

/* line 15, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
body {
  background: #000;
  color: #fff; }

/* line 20, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.container {
  max-width: 500px;
  margin: 0 auto; }

/* line 25, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.top {
  height: 50%;
  background: #222;
  overflow-y: scroll; }

/* line 31, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.bottom {
  height: 50%; }

/* line 35, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.overs {
  background: black;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  padding: 5px; }

/* line 44, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.over {
  min-height: 100px;
  background: #222;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px; }

/* line 52, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.ball-wrapper {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px 10px 5px; }

/* line 59, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.ball-result {
  padding-bottom: 5px;
  border-radius: 50%;
  background: #2BCC71;
  height: 65px;
  width: 65px;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
  line-height: 65px;
  margin-bottom: 5px; }

/* line 72, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.ball-count {
  color: #fff;
  font-weight: 700; }
  /* line 73, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
  .ball-count:before {
    content: "Ball ";
    font-weight: 300; }

/* line 84, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.no-ball .ball-count,
.wide .ball-count {
  display: none; }

/* line 87, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.no-ball .ball-result,
.wide .ball-result {
  background: #E74C3C; }

/* line 97, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.no-ball .ball-result,
.wide .ball-result,
.leg-bye .ball-result,
.bye .ball-result,
.wicket .ball-result {
  font-size: 18px;
  line-height: 20px;
  padding-top: 20px; }

/* line 106, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.no-ball .ball-result,
.leg-bye .ball-result {
  padding-top: 12px; }

/* line 111, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.buttons {
  height: 80%; }
  /* line 113, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
  .buttons div {
    float: left;
    width: 33.3333333333%;
    height: 25%;
    text-align: center;
    background: #333;
    padding: 20px;
    border: 1px solid #222; }

/* line 124, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
.actions {
  clear: left;
  height: 20%; }
  /* line 127, /Users/Tom/Dropbox/Atmosphere Studios/Cricket Scoring App/HTML Prototype/CCv2/src/sass/style.scss */
  .actions div {
    text-align: center;
    width: 33.3333%;
    float: left;
    padding: 15px 20px;
    font-size: 12px;
    height: 100%;
    background: #3498DB;
    border: 1px solid #217dbb; }
